version: "3.9"

services:
  app:
    build: .
    env_file:
      - .env
    environment:
      DB_URL: jdbc:postgresql://db:5432/group-purchace
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15
    env_file:
      - .env
    environment:
      POSTGRES_DB: group-purchace
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
