spring:
  config:
    import: optional:file:.env.properties
  application:
    name: group-purchace
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/group-purchace}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: ${JWT_SECRET:please-change-me-to-a-long-random-string}
  expiration-seconds: ${JWT_ACCESS_EXP_SECONDS:36000}
  refresh-expiration-seconds: ${JWT_REFRESH_EXP_SECONDS:604800}
