spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: group-purchace
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: ${JWT_SECRET}
  expiration-seconds: ${JWT_ACCESS_EXP_SECONDS:36000}
  refresh-expiration-seconds: ${JWT_REFRESH_EXP_SECONDS:604800}
